<form method="post" action=<%='/sets/'+ name%>>
	<input type= "text" name="title" placeholder = "Title Here" value = <%=name%>>
	<textarea name="comment" rows="8"><% videos.each do |vid| %> <%=vid%><%end%></textarea>
	<input type="submit">
	<input method="delete" value="post"type="submit" action="/sets">
				
</form>		