<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<ul class = "navbar">
				<li><a href="http://localhost:4567/sets"> Sets </a></li>
				<li><a href="http://localhost:4567/sets/new"> New Playlist </a></li>
				<li><a href="http://localhost:4567/sets/beyonce"> Beyonce </a></li>
				<li><a href="http://localhost:4567/sets/beyonce/play"> play </a></li>
				<li><a id = "lastnav" href="http://localhost:4567/sets/beyonce/edit">Last </a></li>
		</ul>
		<form method="post" action="/set">
			Name: <input type="textarea" name="name"><br>
			Link: <input type="textarea" name="link"><br>
			<textarea name="comment" form="usrform">Enter text here...</textarea>			
		</form>
		<iframe width="560" height="315" src= <%= url %> frameborder="0" allowfullscreen></iframe>
	</body>
</html>