<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<ul class = "navbar">
				<li><a href="http://localhost:4567/sets/"> Sets </a></li>
				<li><a href="http://localhost:4567/sets/new"> New Playlist </a></li>
				<li><a href="http://localhost:4567/sets/beyonce"> Beyonce </a></li>
				<li><a href="http://localhost:4567/sets/beyonce/play"> play </a></li>
				<li><a id = "lastnav" href="http://localhost:4567/sets/beyonce/edit">Last </a></li>
		</ul>
		<div style="position:relative;width:267px;height:25px;overflow:hidden;">
		  <div style="position:absolute;top:-276px;left:-5px">
		    <iframe width="300" height="300" 
		      src=<%= url%>>
		    </iframe>
		  </div>
		</div>
	</body>
</html>