<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div id="nav">
	  <div id="navcontainer">
		<ul class = "navbar">
				<center><img class="symb"src="/symb.png"><div class= "navb" id="nav1"><a href="http://localhost:4567/sets"> Sets </a></div> <img class="symb"src="/symb.png">
				<div class= "navb" id="nav2"><a href="http://localhost:4567/sets/new"> New Playlist </a></div> <img class="symb"src="/symb.png">
				<div class= "navb" id="nav3"><a href="http://localhost:4567/sets/beyonce"> Beyonce </a></div> <img class="symb"src="/symb.png">
				<div class= "navb" id="nav4"><a href="http://localhost:4567/sets/beyonce/play"> Play </a></div> <img class="symb"src="/symb.png">
				<div class= "navb" id="nav5"><a id = "lastnav" href="http://localhost:4567/sets/beyonce/edit">Last </a></div><img class="symb"src="/symb.png"></center>
		</ul>
	  </div>
	</div>
		<%= yield %>
	</body>
</html>