<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<ul class = "navbar">
				<li><a href="http://localhost:4567/"> HOME </a></li>
				<li><a href="http://localhost:4567/sets/"> sets </a></li>
				<li><a href="http://localhost:4567/sets/beyonce"> New Playlist </a></li>
				<li><a href="http://localhost:4567/sets/beyonce/play"> New Playlist </a></li>
				<li><a id = "lastnav" href="http://localhost:4567/sets/beyonce/edit">Last </a></li>
		</ul>
		<form method="post" action="/sets">

			<textarea name="comment" rows=4 cols=40>Enter text here...</textarea>
<!-- 			Enter text: <input type="text" name="comment">
 -->			<input type="submit">
				
		</form>
		
	</body>
</html>