<% a=commentarr.each_slice(2) %>
<% a.each do |element|%>
	<h1 id="vidtitle"><%= element[0]  %></h1>
	<% videos = element[1].split("\n") %>
	<% puts videos%>
	<% videos.each do |vid| %>
		<iframe id="vid" width="400" height="300" src= <%="https://www.youtube.com/embed/"+vid.to_s%> frameborder="0" allowfullscreen></iframe>
	<% end %>
<%end%>