<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>
	<body>
		<ul class = "navbar">
				<li><a href="http://localhost:4567/"> Home </a></li>
				<li><a href="http://localhost:4567/sets/new"> New Playlist </a></li>
				<li><a href="http://localhost:4567/sets/beyonce"> New Playlist </a></li>
				<li><a href="http://localhost:4567/sets/beyonce/play"> New Playlist </a></li>
				<li><a id = "lastnav" href="http://localhost:4567/sets/beyonce/edit">Last </a></li>
		</ul>
		<% commentarr.each do |element| %>
			<p><%= element %></p>
		<%end%>	
 </body>
</html>